---
import About from "@/components/About.astro";
import Layout from "../layouts/Layout.astro";

import Hero from '@/components/Hero.astro';
import Achievements from '@/components/Achievements.astro';
---

<Layout title="Curriculum de Santiago González">
	<main class="mx-auto max-w-3xl w-full p-16 pt-8">
		<Hero />
		<About />
		<Achievements />
	</main>
</Layout>