---
import Text from "./Text.astro"
---

<section>
  <h1 class="pt-12 text-2xl font-bold dark:text-white">Sobre mí</h1>
  <div class="space-y-1">
    <Text as="p">
      Actualmente estoy cursando 5to semestre de bachillerato. 
    </Text>
    <Text as="p">
      Llevo 1 año apróximadamente estudiando el ámbito de la programación y he hecho varios proyectos acerca del dessarrollo web que es lo que principalmente hago a lo largo de este año.
    </Text>
  </div>
</section>