---
import Text from "./Text.astro";

const achievements = [
  { 
    name: 'Académicos',
    first: 'He participado en numerables concursos de matemáticas de sofiaXt y las olimpiadas, destacando quedar en la semana regional en un concurso.',
    second: 'Soy uno de los 10 primeros lugares de aprovechamiento.',
    time: '2012 - Actualidad'
  },
  { 
    name: 'Culturales', 
    first: 'He participado en el desfile del 16 de septiembre.',
    time: '2023'
  },
  {
    name: 'Deportivos',
    first: 'He participado en equipos de fútbol desde tercero de primaria hasta hoy en dia, en el Instituto Central Coahuila y en el Colegio México Americano',
    second: 'He participado en muchos torneos de ajedrez de los cuales gane varios torneos representando al Instituto Central Coahuila o participando por mi cuenta',
    time: '2012 - Actualidad'
  },
  {
    name: 'Social',
    first: 'Fui parte del Club Interact ayudando a la comunidad en diferentes aspectos principalmente brindando apoyo a las personas necesitadas',
    time: '2023'
  },
  { 
    name: 'Cívicos',
    first: 'He sido parte de la escolta en varias ocasiones y apoyado en la realización de eventos en mi institución',
    time: '2019 - Actualidad'
  }
]
---

<section>
  <h2 class="pt-12 font-bold text-2xl dark:text-white">Logros</h2>
  <div class="space-y-3">
    {achievements.map(({ name, first, second, time }) => (
    <article class="pt-2 relative">
    <h3 class="text-lg dark:text-white">{name}</h3>
    <div class="space-y-0.5">
      <Text as="p">
        {first}
      </Text>
      {second && (
        <Text as="p">
          Soy uno de los 10 primeros lugares de aprovechamiento.
        </Text>
      )}
      <div class="absolute top-0 right-0 pt-2 text-black/70 text-sm tracking-wide dark:text-white/70">
        {time}
      </div>
    </div>
  </article>
  ))}
  </div>
</section>