---
import { ThemeToggler } from '@/components/ThemeToggler';
import Moon from '@/icons/Moon.astro';
import Sun from '@/icons/Sun.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/fav.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-zinc-950">
		<slot />
		<ThemeToggler client:load>
			<Moon />
			<Sun />
		</ThemeToggler>
	</body>
</html>
<style is:global>
	html {
		font-family: Menlo, Monaco, Lucida Console, 'Courier New', monospace;
		letter-spacing: 0.25;
	}

</style>